.ilios-calendar .clickable {
  color: #009ccc;
  cursor: pointer;
}

.ilios-calendar .ilios-calendar-calendar {
  clear: both;
}

.ilios-calendar .calendar-view-picker {
  float: right;
}

.ilios-calendar .calendar-time-picker {
  float: left;
}

.ilios-calendar ul.inline, ul.inline li {
  display: inline;
  margin-bottom: 1em;
}

ul.inline li {
  margin-right: 2em;
}
