.ilios-calendar .ilios-calendar-month .el-calendar .week {
  overflow-y: hidden;
  padding-top: .25rem; }

.ilios-calendar .ilios-calendar-month .el-calendar .day {
  border: 1px solid #eee;
  margin-right: .25rem;
  overflow-y: hidden;
  padding: .25rem; }
  .ilios-calendar .ilios-calendar-month .el-calendar .day .events {
    height: 7rem;
    overflow-y: auto;
    padding-bottom: 4rem; }

.ilios-calendar .ilios-calendar-month .el-calendar .ilios-calendar-event.month-event {
  height: 1.5em;
  padding: 0;
  position: relative; }
  .ilios-calendar .ilios-calendar-month .el-calendar .ilios-calendar-event.month-event span {
    background-color: transparent;
    font-size: .5em;
    font-weight: normal; }
  .ilios-calendar .ilios-calendar-month .el-calendar .ilios-calendar-event.month-event .ilios-calendar-event-time {
    color: #000;
    display: inline; }
  .ilios-calendar .ilios-calendar-month .el-calendar .ilios-calendar-event.month-event .ilios-calendar-event-end,
  .ilios-calendar .ilios-calendar-month .el-calendar .ilios-calendar-event.month-event .ilios-calendar-event-location {
    display: none; }

.ilios-calendar .ilios-calendar-week .el-calendar span {
  font-size: .8em; }

.ilios-calendar .ilios-calendar-week .el-calendar .ilios-calendar-event .ilios-calendar-event-end,
.ilios-calendar .ilios-calendar-month .el-calendar .ilios-calendar-event .ilios-calendar-event-end {
  display: none; }

.ilios-calendar .el-calendar .event {
  overflow: hidden;
  position: absolute; }

.ilios-calendar .el-calendar .event-column {
  border-left: 1px solid #eee; }

.ilios-calendar .el-calendar .ilios-calendar-event {
  border-bottom: 3px solid #fff;
  color: #000;
  line-height: .9em; }
  .ilios-calendar .el-calendar .ilios-calendar-event .ilios-calendar-event-time {
    color: #800;
    display: block;
    font-weight: bold;
    padding-bottom: .5em; }
  .ilios-calendar .el-calendar .ilios-calendar-event .ilios-calendar-event-location {
    display: inline;
    font-weight: bold; }
  .ilios-calendar .el-calendar .ilios-calendar-event.day-event {
    width: 100%; }
  .ilios-calendar .el-calendar .ilios-calendar-event.single-event {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 2em;
    width: 100%; }
  .ilios-calendar .el-calendar .ilios-calendar-event.clerkship {
    background-color: #32edfc;
    border-left: 4px solid #03cede; }
  .ilios-calendar .el-calendar .ilios-calendar-event.exam {
    background-color: #ceccfe;
    border-left: 4px solid #8681fd; }
  .ilios-calendar .el-calendar .ilios-calendar-event.holiday {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.hospice {
    background-color: #ceccfe;
    border-left: 4px solid #8681fd; }
  .ilios-calendar .el-calendar .ilios-calendar-event.laboratory {
    background-color: #ffcc67;
    border-left: 4px solid #ffb21a; }
  .ilios-calendar .el-calendar .ilios-calendar-event.large-group-presentation {
    background-color: #99cdff;
    border-left: 4px solid #4da7ff; }
  .ilios-calendar .el-calendar .ilios-calendar-event.lecture {
    background-color: #00cc65;
    border-left: 4px solid #00803f; }
  .ilios-calendar .el-calendar .ilios-calendar-event.opt-review-session {
    background-color: #ff0;
    border-left: 4px solid #b2b300; }
  .ilios-calendar .el-calendar .ilios-calendar-event.osce {
    background-color: #cdffff;
    border-left: 4px solid #81ffff; }
  .ilios-calendar .el-calendar .ilios-calendar-event.physical-exam {
    background-color: #ffb1b1;
    border-left: 4px solid #ff6464; }
  .ilios-calendar .el-calendar .ilios-calendar-event.problem-based-learning {
    background-color: #fe7a78;
    border-left: 4px solid #fd2f2c; }
  .ilios-calendar .el-calendar .ilios-calendar-event.small-group {
    background-color: #fe7a78;
    border-left: 4px solid #fd2f2c; }
  .ilios-calendar .el-calendar .ilios-calendar-event.preceptorship {
    background-color: #ddd;
    border-left: 4px solid #b7b7b7; }
  .ilios-calendar .el-calendar .ilios-calendar-event.reading-day {
    background-color: #ed81ee;
    border-left: 4px solid #e33ee5; }
  .ilios-calendar .el-calendar .ilios-calendar-event.rounds {
    background-color: #32edfc;
    border-left: 4px solid #03cede; }
  .ilios-calendar .el-calendar .ilios-calendar-event.outpatient-clinic {
    background-color: #ddd;
    border-left: 4px solid #b7b7b7; }
  .ilios-calendar .el-calendar .ilios-calendar-event.call {
    background-color: #32edfc;
    border-left: 4px solid #03cede; }
  .ilios-calendar .el-calendar .ilios-calendar-event.team-based-learning {
    background-color: #fe7a78;
    border-left: 4px solid #fd2f2c; }
  .ilios-calendar .el-calendar .ilios-calendar-event.exam-institutional-clinical {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.exam-institutional-writ-comp {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.exam-institutional-oral {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.exam-national-norm-standard-subj {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.multisource-assessment {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.narrative-assessment {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.practical-lab {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.stimulated-recall {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.self-assessment {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.clinical-doc-review {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.rating-checklist {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.exam-licensure-clinical {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.exam-licensure-writ-comp {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.participation {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.oral-patient-presentation {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.peer-assessment {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.portfolio-assessment {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.research-project-assessment {
    background-color: #c79376;
    border-left: 4px solid #ab6a46; }
  .ilios-calendar .el-calendar .ilios-calendar-event.independent-learning {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.reflection {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.self-directed-learning {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.concept-mapping {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.conference {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.discussion-large {
    background-color: #00cc65;
    border-left: 4px solid #00803f; }
  .ilios-calendar .el-calendar .ilios-calendar-event.team-building {
    background-color: #fe7a78;
    border-left: 4px solid #fd2f2c; }
  .ilios-calendar .el-calendar .ilios-calendar-event.simulation {
    background-color: #ddd;
    border-left: 4px solid #b7b7b7; }
  .ilios-calendar .el-calendar .ilios-calendar-event.case-based-instruction {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.demonstration {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.games {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.journal-club {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.mentorship {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.learner-patient-presentation {
    background-color: #32edfc;
    border-left: 4px solid #03cede; }
  .ilios-calendar .el-calendar .ilios-calendar-event.faculty-patient-presentation {
    background-color: #32edfc;
    border-left: 4px solid #03cede; }
  .ilios-calendar .el-calendar .ilios-calendar-event.peer-teaching {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.research {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.role-play-drama {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.performance {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.tutorial {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.service-learning-activity {
    background-color: #ddd;
    border-left: 4px solid #b7b7b7; }
  .ilios-calendar .el-calendar .ilios-calendar-event.clinical-performance {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.panel-presentation {
    background-color: #00cc65;
    border-left: 4px solid #00803f; }
  .ilios-calendar .el-calendar .ilios-calendar-event.learner-project-presentation {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.movie {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.social-event {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.deadline {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.ceremony {
    background-color: #fff;
    border-left: 4px solid #d9d9d9; }
  .ilios-calendar .el-calendar .ilios-calendar-event.ambulatory-clinical-experience {
    background-color: #ddd;
    border-left: 4px solid #b7b7b7; }
  .ilios-calendar .el-calendar .ilios-calendar-event.inpatient-clinical-experience {
    background-color: #ddd;
    border-left: 4px solid #b7b7b7; }
  .ilios-calendar .el-calendar .ilios-calendar-event.ward-rounds {
    background-color: #ddd;
    border-left: 4px solid #b7b7b7; }
  .ilios-calendar .el-calendar .ilios-calendar-event.discussion-small {
    background-color: #fe7a78;
    border-left: 4px solid #fd2f2c; }
  .ilios-calendar .el-calendar .ilios-calendar-event.workshop {
    background-color: #fe7a78;
    border-left: 4px solid #fd2f2c; }

.ilios-calendar .ilios-calendar-event {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fbfbfb;
  border: 1px solid #eee; }

.ilios-calendar .clickable {
  color: #009ccc;
  cursor: pointer; }

.ilios-calendar .ilios-calendar-calendar {
  clear: both;
  position: relative; }
  .ilios-calendar .ilios-calendar-calendar h1 {
    left: 4em;
    opacity: 75;
    position: absolute;
    top: 2em;
    transition: all .5s ease-in-out; }
    .ilios-calendar .ilios-calendar-calendar h1.loaded {
      opacity: 0; }

.ilios-calendar .calendar-view-picker {
  float: right; }
  .ilios-calendar .calendar-view-picker .highlight {
    color: #c60;
    font-size: 1.25em; }
  .ilios-calendar .calendar-view-picker .on {
    color: #84c444; }

.ilios-calendar .calendar-time-picker {
  float: left; }

.ilios-calendar ul.inline,
.ilios-calendar ul.inline li {
  display: inline;
  margin-bottom: 1em; }

.ilios-calendar ul.inline li {
  margin-right: 2em; }

.ilios-calendar .ilios-calendar-ics-feed {
  border: 1px dotted #c60;
  margin: auto;
  margin-bottom: 1em;
  padding: 2em;
  width: 90%; }
  .ilios-calendar .ilios-calendar-ics-feed input {
    padding: .25em;
    width: 80%; }
  .ilios-calendar .ilios-calendar-ics-feed button {
    background-color: #fff;
    color: #009ccc;
    margin-left: .5em;
    padding: 0; }

.ilios-calendar-single-event h2 {
  font-weight: bold; }

.ilios-calendar-single-event fieldset {
  border: 0;
  border-left: 3px solid #eee;
  float: left;
  width: 45%; }
  .ilios-calendar-single-event fieldset caption {
    color: #009ccc;
    font-weight: bold; }

.ilios-calendar-single-event .ilios-calendar-single-event-summary h1 {
  font-weight: normal; }
  .ilios-calendar-single-event .ilios-calendar-single-event-summary h1 em {
    font-style: normal;
    font-weight: bold; }

.ilios-calendar-single-event .ilios-calendar-single-event-offered-at {
  font-weight: bold; }

.ilios-calendar-single-event .ilios-calendar-single-event-instructors {
  font-style: italic; }

.ilios-calendar-single-event .ilios-calendar-single-event-learningmaterial-filesize {
  font-size: .8em;
  font-style: italic; }

.ilios-calendar-single-event ul.tree li {
  font-weight: bold; }

.ilios-calendar-single-event ul.tree ul {
  margin-bottom: 1em;
  margin-left: 1em; }
  .ilios-calendar-single-event ul.tree ul li {
    font-weight: normal;
    list-style-type: disc; }

.ilios-calendar-single-event-learningmaterial-item-notes i {
  display: inline;
  font-size: .85em;
  margin-right: 5px; }

.ilios-calendar-single-event-learningmaterial-item-notes p {
  display: inline;
  font-size: .85em;
  font-style: italic; }

.ilios-calendar-multiday-events {
  border: 1px dotted #009ccc;
  margin-top: 1em;
  padding: 1em 0; }
  .ilios-calendar-multiday-events h4 {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0; }
  .ilios-calendar-multiday-events ul {
    margin-left: 1em; }
