{{#if event}}
  <span class='ilios-calendar-event-time'>
    <span class='ilios-calendar-event-start'>
      {{moment-format event.startDate 'h:mma'}}
    </span>
    <span class='ilios-calendar-event-end'>
      - {{moment-format event.endDate 'h:mma'}}
    </span>
  </span>
  <span class='ilios-calendar-event-location'>
    {{event.location}}:
  </span>
  <span class='ilios-calendar-event-name'>
    {{event.name}}
  </span>
{{/if}}
