<h1>Demo of ilios-calendar</h1>
{{ilios-calendar 
  calendarEventsPromise=calendarEventsPromise
  selectedView=selectedView
  selectedDate=selectedDate
  changeDate='changeDate'
  changeView='changeView'
}}
