<h1>{{applicationTitlePhrase}}</h1>
{{#unless fakeSingleEvent}}
  {{ilios-calendar
    calendarEventsPromise=calendarEventsPromise
    selectedView=selectedView
    selectedDate=selectedDate
    icsFeedUrl=icsFeedUrl
    changeDate='changeDate'
    changeView='changeView'
    selectEvent='selectEvent'
    refreshIcsFeed='refreshIcsFeed'
  }}
{{else}}
  {{ilios-calendar-single-event
    courseTitle=fakeSingleEvent.courseTitle
    sessionTitle=fakeSingleEvent.sessionTitle
    offeredAtPhrase=fakeSingleEvent.offeredAtPhrase
    location=fakeSingleEvent.location
    sessionIsPhrase=fakeSingleEvent.sessionIsPhrase
    taughtByPhrase=fakeSingleEvent.taughtByPhrase
    courseObjectives=fakeSingleEvent.courseObjectives
    sessionObjectives=fakeSingleEvent.sessionObjectives
    courseLearningMaterials=fakeSingleEvent.courseLearningMaterials
    sessionLearningMaterials=fakeSingleEvent.sessionLearningMaterials
  }}
{{/unless}}
